#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Micro 5 charted;
}



input[type="text"], input[type="password"] {
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
  padding: 8px 10px;
  border-radius: 4px;
  width: 80%;
  margin: 10px 0;
}

.error {
  color: red; 
  margin-top: 10px;
}

.button {
  padding: 10px 20px;
  margin: 10px; 
  background-color: #111111;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms;
}

.button:hover {
  background-color: #131313; 
}

.control-buttons {
  padding: 15px; 
  text-align: center; 
}

.session-input {
  background-color: #1b1b1b;
  border: 2px solid #4a4a4a;
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input, .input-large {
  width: 70%;
  padding: 8px 16px;
  margin-top: 20px;
  margin-bottom : 20px;
  color: white;
  background-color: #333;
  border: 1px solid #666;
  border-radius: 4px;
}

.course-info {
  min-width: 600px;
  background-color: #1b1b1b;
  border: 2px solid #4a4a4a; 
  border-radius: 8px; 
  padding: 20px; 
  margin: 10px 0; 
  text-align: center; 
  display: flex;
  flex-direction: column; 
}

.session-details {
  background-color: #1b1b1b;
  border: 2px solid #4a4a4a;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-info {
  margin-top: 10px; 
}

.student-list {
  list-style-type: none;
  padding: 0;
}

.student-card {
  min-width: 600px;
  border: 2px solid #4a4a4a;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #1b1b1b;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.student-info {
  margin-right: auto; 
}

.remove-button {
  background-color: #bb0003;
  color: white;
  border: none;
  padding: 10px 20px; 
  border-radius: 4px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #d80000;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}


